<div class="conteudo w100">
    <div class="main w50 left">
        <div class="post-list">
            {{#each posts}}
                <h1>{{titulo}}</h1>
                <p>{{conteudo}}</p>
                <a href="deletar/{{id}}"><buttom>Deletar</buttom></a>
                <hr>
            {{/each}}
        </div>
    </div>
    <div class="clear"></div>
    <div class="aside w30 left">
        <div class="aside-box">
            <form>
                <input type="text">
                <button>pesquisar</button>
            </form>
        </div>
        <div class="clear"></div>
        <div class="aside-box">
            <ul>
                <li>Post 1</li>
                <li>Post 2</li>
                <li>Post 3</li>
                <li>Post 4</li>
            </ul>
        </div>
        <div class="clear"></div>
        <div id="categorias">

        </div>
    </div>
</div>