/** Boot CSS **/

.center{
    max-width: 1280px;
    padding: 0 2%;
    margin: 0 auto;
}

.w30{
    width: 30%;
}

.w50{
    width: 50%;
}

.w70{
    width: 70%;
}

.w100{
    width: 100%;
}

.left{
    float: left;
}

.right{
    float: right;
}

.clear{
    clear: both;
}

body{
    background-color: #eceff1;
}

h1{
    color: blue;
}

.conteudo {
    margin: 0 auto;
}

.main{
    text-align: left;
    padding: 25px;
    background-color: #ffffff;
}

.aside{
    padding: 25px;
}

.aside-box{
    background-color: #ffffff;
    padding: 25px;
    margin-bottom: 20px;
}

@media screen and (max-width: 768px) {
    .conteudo {
        margin: 0 auto;
    }
    
    .main{
        padding: 10px;
        margin: 0 auto;
    }
    
    .aside {
        padding: 10px;
        margin: 0 auto;
    }
    .w30{
        padding: 10px;
        width: 98%;
    }

    .w50{
        padding: 10px;
        width: 98%;
    }

    .w70{
        padding: 10px;
        width: 96%;
    }
    
}